* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
        background: linear-gradient(to bottom, white, aliceblue, #003053);
}

.container-hero {
    background-color: white;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.container-hero img {
    height: 80px;
}

.container-hero h1 {
    text-decoration: none;
    color: #003053;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
}

.container-hero h1 a {
    text-decoration: none;
    color: #003053;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: absolute;
    top: -15px;
    text-align: center;
}

header {
    background-color: #003053;
    display: grid;
}

i {
    font-size: 20px;
    color: white;
    margin-top: -30px;
    display: flex;
}

#logo {
    justify-content: center;
    align-items: center;
    display: grid;
    padding-top: 30px;
}

tr {
    display: flex;
    padding: 2%;
}

td {
    display: flex;
    padding: 2%;
}

input {
    background-color: #d8dce5;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    align-content: center;
    display: flex;
    font-size: 17px;


}

nav {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    margin-top: 17px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    justify-content: center;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}

nav ul li a:hover,
a:focus {
    color: white;
    background-size: 100% 2px;
}

nav ul li #button {
    padding-top: -15px;
    border-radius: 8px;
    background-color: white;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 13px;
}

nav ul li button {
    padding-top: -30px;
    border-radius: 8px;
    background-color: white;
    margin-left: 420px;
    padding-left: 10px;
    font-size: 13px;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

nav ul li button a {
    background-color: white;
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
    color: #003053;
    padding-top: 25px;
}

.main {
    width: 450px;
    height: 800px;
    background: white;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: linear-gradient(to bottom, white, aliceblue, #004f88);
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;

}

label {
    color: #003053;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-size: 25px;
}

input {
    width: 60%;
    height: 20px;
    background: #ebe9e9;
    color: #000;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
#r{
    padding-bottom: -15px;
}
button {
    width: 60%;
    height: 40px;
    margin: 25px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #003053;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;

    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;

}

button:hover {
    background: #003053;

}
#l{
    padding-top: 50px;

}

.login {    
    
    height: 600px;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: linear-gradient(to bottom, white, aliceblue, #004f88);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    display: flex;
    padding-top: 6%;
    color: #003053;
    transform: scale(.9);
}

#rc {
    display: flex;
    padding-left: 18%;
    color: #0c5ae0;
    font-size: 15px;

}

a {
    color: #0c5ae0;
    text-decoration: none;
}

a:link {
    color: rgb(0, 95, 238);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 95, 238);
    text-decoration: none;
}

button a {
    color: #0c5ae0;
    text-decoration: none;
}

button a:link {
    color: rgb(0, 95, 238);
    text-decoration: none;
}

button a:visited {
    color: rgb(0, 95, 238);
    text-decoration: none;
}

#chk:checked~.login {
    transform: translateY(-650px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}
select {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 40px;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #e0dede;
  color: #003053;
  font-size: 1em;
}

select option {
  background: #e0dede;
  color: #003053;
  font-size: 1em;
}